#root {
  padding: 0 10%;
  margin: 5% 0;
}

.VideoForm {
  flex-direction: column;
  display: flex;
  align-items: stretch;
  justify-content: flex-start;
}

.light {
  background-color: white;
  color: black;
}

.dark {
  background-color: black;
  color: white;
}

.inarow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
